black==25.1.0
click==8.2.1
loguru==0.7.3
mypy_extensions==1.1.0
numpy==2.3.2
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
platformdirs==4.4.0
pyodbc==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
tzdata==2025.2
